In [ ]:
import random
import uuid
import datetime
import csv

In [ ]:
def random_date():
    start = datetime.datetime.strptime('1/1/2000 1:30 PM', '%m/%d/%Y %I:%M %p')
    end = datetime.datetime.strptime('1/1/2100 4:50 AM', '%m/%d/%Y %I:%M %p')
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = random.randrange(int_delta)
    return start + datetime.timedelta(seconds=random_second)

In [ ]:
print(random_date().date())

2062-02-14

In [17]:
Designation = ["Researcher" , "Designer" , "Software Developer" , "Head of Marketing and Sales", "Project Manager" , "HR Manager" ,
      "Business Development Manager" , "Administrative Officer", "Associate" , "Secretary" , "Accountant" , "Engineer",  "Analyst" ]

p_company = ["1company", "2company", "3company", "4company", "5company","6company","7company","8company"]
c_company = ["NA", "1company", "2company", "3company", "4company", "5company","6company","7company","8company", "9company", "10company", "11company", "12company", "13company","14company","15company","16company", "17company", "18company", "19company"]
query='''
  SET STATISTICS TIME ON;
GO
  select sp.ID, spd.vacancies, spd.total_ec
		from Main.dbo.Staffing_Plan_spd as spd join Main.dbo.Staffing_Plan_t as sp on spd.ID=sp.ID
		where company='{{company}}' and spd.designation='{{designation}}'
		and to_date >= '{{date1}}' and from_date <= '{{date2}}'
'''
# SET STATISTICS TIME ON;
# GO
# select spd.vacancies as vacancies,
# 			spd.total_ec as total_ec
# 			from Main.dbo.Staffing_Plan_spd as spd join Main.dbo.Staffing_Plan_n as sp on spd.ID = sp.ID
# 			where designation='Secretary'  and sp.to_date >= '2000-03-16 00:00:00.0000000' and
# 			sp.from_date <= '2063-11-29 00:00:00.0000000'
# 			and sp.company in (select name from Main.dbo.company_n where parent_company = '4company')

for i in range(50):
  d1=random_date()
  d2=random_date()
  while(d2<=d1):
    d2=random_date()
  fs=random.randint(1,10000)
  de = random.randint(1,13)
  pc = random.randint(1,8)
  cc = random.randint(1,18)
  qry=query.replace('{{date1}}',str(d1)).replace('{{date2}}',str(d2)).replace('{{designation}}',str(Designation[de-1])).replace('{{company}}' , str(c_company[cc-1]))
  f=open(r"/usr/query_2/query_two"+str(i+1)+".sql",'w')
  f.write(qry)
  f.close()

In [ ]:
p_company = ["1company", "2company", "3company", "4company", "5company","6company","7company","8company"]
c_company = ["NA", "1company", "2company", "3company", "4company", "5company","6company","7company","8company", "9company", "10company", "11company", "12company", "13company","14company","15company","16company", "17company", "18company", "19company"]
query='''
  SET STATISTICS TIME ON;
GO
select spd.vacancies as vacancies,
			spd.total_ec as total_ec
			from Main.dbo.Staffing_Plan_spd as spd join Main.dbo.Staffing_Plan_t as sp on spd.ID = sp.ID
			where designation='{{designation}}'  and sp.to_date >= '{{date1}}' and
			sp.from_date <= '{{date2}}'
			and sp.company in (select name from Main.dbo.company_n where parent_company = '{{company}}')


'''


for i in range(50):
  d1=random_date()
  d2=random_date()
  while(d2<=d1):
    d2=random_date()
  fs=random.randint(1,10000)
  de = random.randint(1,13)
  pc = random.randint(1,8)
  cc = random.randint(1,18)
  qry=query.replace('{{date1}}',str(d1)).replace('{{date2}}',str(d2)).replace('{{designation}}',str(Designation[de-1])).replace('{{company}}' , str(p_company[pc-1]))
  f=open(r"/usr/query_1/query_one"+str(i+1)+".sql",'w')
  f.write(qry)
  f.close()

In [22]:


p_company = ["1company", "2company", "3company", "4company", "5company","6company","7company","8company"]
c_company = ["NA", "1company", "2company", "3company", "4company", "5company","6company","7company","8company", "9company", "10company", "11company", "12company", "13company","14company","15company","16company", "17company", "18company", "19company"]
query='''
  SET STATISTICS TIME ON;
GO
  select spd.ID
			from Main.dbo.Staffing_Plan_spd as spd join Main.dbo.Staffing_Plan_t as sp on spd.ID = sp.ID
			where spd.designation= '{{designation}}'
			and sp.to_date >= '{{date1}}' and sp.from_date <= '{{date2}}' and sp.company = '{{company}}'
'''


for i in range(50):
  d1=random_date()
  d2=random_date()
  while(d2<=d1):
    d2=random_date()
  fs=random.randint(1,10000)
  de = random.randint(1,13)
  pc = random.randint(1,8)
  cc = random.randint(1,18)
  qry=query.replace('{{date1}}',str(d1)).replace('{{date2}}',str(d2)).replace('{{designation}}',str(Designation[de-1])).replace('{{company}}' , str(c_company[cc-1]))
  f=open(r"/usr/query_3/query_thr"+str(i+1)+".sql",'w')
  f.write(qry)
  f.close()

In [23]:
!zip -r /usr/query_3.zip /usr/query_3

updating: usr/query_3/ (stored 0%)
updating: usr/query_3/query_thr40.sql (deflated 30%)
updating: usr/query_3/query_thr12.sql (deflated 31%)
updating: usr/query_3/query_thr4.sql (deflated 31%)
updating: usr/query_3/query_thr46.sql (deflated 32%)
updating: usr/query_3/query_thr2.sql (deflated 32%)
updating: usr/query_3/query_thr13.sql (deflated 31%)
updating: usr/query_3/query_thr27.sql (deflated 33%)
updating: usr/query_3/query_thr10.sql (deflated 30%)
updating: usr/query_3/query_thr36.sql (deflated 31%)
updating: usr/query_3/query_thr45.sql (deflated 31%)
updating: usr/query_3/query_thr20.sql (deflated 31%)
updating: usr/query_3/query_thr48.sql (deflated 31%)
updating: usr/query_3/query_thr15.sql (deflated 31%)
updating: usr/query_3/query_thr23.sql (deflated 32%)
updating: usr/query_3/query_thr24.sql (deflated 31%)
updating: usr/query_3/query_thr34.sql (deflated 32%)
updating: usr/query_3/query_thr42.sql (deflated 30%)
updating: usr/query_3/query_thr26.sql (deflated 30%)
updating: usr/query_3/query_thr30.sql (deflated 30%)
updating: usr/query_3/query_thr43.sql (deflated 32%)
updating: usr/query_3/query_thr21.sql (deflated 31%)
updating: usr/query_3/query_thr18.sql (deflated 32%)
updating: usr/query_3/query_thr49.sql (deflated 31%)
updating: usr/query_3/query_thr3.sql (deflated 31%)
updating: usr/query_3/query_thr38.sql (deflated 31%)
updating: usr/query_3/query_thr35.sql (deflated 31%)
updating: usr/query_3/query_thr17.sql (deflated 32%)
updating: usr/query_3/query_thr5.sql (deflated 30%)
updating: usr/query_3/query_thr47.sql (deflated 32%)
updating: usr/query_3/query_thr1.sql (deflated 32%)
updating: usr/query_3/query_thr31.sql (deflated 31%)
updating: usr/query_3/query_thr22.sql (deflated 31%)
updating: usr/query_3/query_thr7.sql (deflated 31%)
updating: usr/query_3/query_thr11.sql (deflated 32%)
updating: usr/query_3/query_thr41.sql (deflated 32%)
updating: usr/query_3/query_thr14.sql (deflated 31%)
updating: usr/query_3/query_thr25.sql (deflated 31%)
updating: usr/query_3/query_thr19.sql (deflated 31%)
updating: usr/query_3/query_thr6.sql (deflated 31%)
updating: usr/query_3/query_thr33.sql (deflated 31%)
updating: usr/query_3/query_thr16.sql (deflated 31%)
updating: usr/query_3/query_thr50.sql (deflated 30%)
updating: usr/query_3/query_thr8.sql (deflated 31%)
updating: usr/query_3/query_thr44.sql (deflated 31%)
updating: usr/query_3/query_thr37.sql (deflated 31%)
updating: usr/query_3/query_thr9.sql (deflated 31%)
updating: usr/query_3/query_thr32.sql (deflated 31%)
updating: usr/query_3/query_thr29.sql (deflated 31%)
updating: usr/query_3/query_thr28.sql (deflated 31%)
updating: usr/query_3/query_thr39.sql (deflated 30%)