In [ ]:
import random
import uuid
import datetime
import csv

In [ ]:
def random_date():
    start = datetime.datetime.strptime('1/1/2000 1:30 PM', '%m/%d/%Y %I:%M %p')
    end = datetime.datetime.strptime('1/1/2100 4:50 AM', '%m/%d/%Y %I:%M %p')
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = random.randrange(int_delta)
    return start + datetime.timedelta(seconds=random_second)

In [ ]:
print(random_date().date())

2087-09-09

In [20]:
Designation = ["Researcher" , "Designer" , "Software Developer" , "Head of Marketing and Sales", "Project Manager" , "HR Manager" ,
      "Business Development Manager" , "Administrative Officer", "Associate" , "Secretary" , "Accountant" , "Engineer",  "Analyst" ]

p_company = ["1company", "2company", "3company", "4company", "5company","6company","7company","8company"]
c_company = ["NA", "1company", "2company", "3company", "4company", "5company","6company","7company","8company", "9company", "10company", "11company", "12company", "13company","14company","15company","16company", "17company", "18company", "19company"]
query='''
  select sp.name, spd.vacancies, spd.total_estimated_cost
		from `tabStaffing Plan Detail` spd join `tabStaffing Plan` sp on spd.parent=sp.name
		where company='{{company}}' and spd.designation='{{designation}}'
		and to_date >= '{{date1}}' and from_date <= '{{date2}}'
'''
# select sum(spd.vacancies) as vacancies,
# 			sum(spd.total_estimated_cost) as total_estimated_cost
# 			from `tabStaffing Plan Detail` spd join `tabStaffing Plan` sp on spd.parent=sp.name
# 			where spd.designation= '{{designation}}' 
# 			and sp.to_date >= '{{date1}}' and sp.from_date <= '{{date2}}'
# 			and sp.company in (select name from tabCompany where parent_company = '{{company}}')

for i in range(50):
  d1=random_date()
  d2=random_date()
  while(d2<=d1):
    d2=random_date()
  fs=random.randint(1,10000)
  de = random.randint(1,13)
  pc = random.randint(1,8)
  cc = random.randint(1,18)
  qry=query.replace('{{date1}}',str(d1)).replace('{{date2}}',str(d2)).replace('{{designation}}',str(Designation[de-1])).replace('{{company}}' , str(c_company[cc-1]))
  f=open(r"/usr/query_2/query_two"+str(i+1)+".sql",'w')
  f.write(qry)
  f.close()

In [21]:
p_company = ["1company", "2company", "3company", "4company", "5company","6company","7company","8company"]
c_company = ["NA", "1company", "2company", "3company", "4company", "5company","6company","7company","8company", "9company", "10company", "11company", "12company", "13company","14company","15company","16company", "17company", "18company", "19company"]
query='''
  select sum(spd.vacancies) as vacancies,
			sum(spd.total_estimated_cost) as total_estimated_cost
			from `tabStaffing Plan Detail` spd join `tabStaffing Plan` sp on spd.parent=sp.name
			where spd.designation= '{{designation}}' 
			and sp.to_date >= '{{date1}}' and sp.from_date <= '{{date2}}'
			and sp.company in (select name from tabCompany where parent_company = '{{company}}')
'''


for i in range(50):
  d1=random_date()
  d2=random_date()
  while(d2<=d1):
    d2=random_date()
  fs=random.randint(1,10000)
  de = random.randint(1,13)
  pc = random.randint(1,8)
  cc = random.randint(1,18)
  qry=query.replace('{{date1}}',str(d1)).replace('{{date2}}',str(d2)).replace('{{designation}}',str(Designation[de-1])).replace('{{company}}' , str(p_company[pc-1]))
  f=open(r"/usr/query_1/query_one"+str(i+1)+".sql",'w')
  f.write(qry)
  f.close()

In [22]:


p_company = ["1company", "2company", "3company", "4company", "5company","6company","7company","8company"]
c_company = ["NA", "1company", "2company", "3company", "4company", "5company","6company","7company","8company", "9company", "10company", "11company", "12company", "13company","14company","15company","16company", "17company", "18company", "19company"]
query='''
  select spd.parent
			from `tabStaffing Plan Detail` spd join `tabStaffing Plan` sp on spd.parent=sp.name
			where spd.designation= '{{designation}}'
			and sp.to_date >= '{{date1}}' and sp.from_date <= '{{date2}}' and sp.company = '{{company}}'
'''


for i in range(50):
  d1=random_date()
  d2=random_date()
  while(d2<=d1):
    d2=random_date()
  fs=random.randint(1,10000)
  de = random.randint(1,13)
  pc = random.randint(1,8)
  cc = random.randint(1,18)
  qry=query.replace('{{date1}}',str(d1)).replace('{{date2}}',str(d2)).replace('{{designation}}',str(Designation[de-1])).replace('{{company}}' , str(c_company[cc-1]))
  f=open(r"/usr/query_3/query_thr"+str(i+1)+".sql",'w')
  f.write(qry)
  f.close()

In [23]:
!zip -r /usr/query_1.zip /usr/query_1
!zip -r /usr/query_2.zip /usr/query_2
!zip -r /usr/query_3.zip /usr/query_3

  adding: usr/query_1/ (stored 0%)
  adding: usr/query_1/query_one16.sql (deflated 39%)
  adding: usr/query_1/query_one49.sql (deflated 40%)
  adding: usr/query_1/query_one9.sql (deflated 40%)
  adding: usr/query_1/query_one3.sql (deflated 39%)
  adding: usr/query_1/query_one14.sql (deflated 40%)
  adding: usr/query_1/query_one26.sql (deflated 39%)
  adding: usr/query_1/query_one22.sql (deflated 40%)
  adding: usr/query_1/query_one2.sql (deflated 40%)
  adding: usr/query_1/query_one34.sql (deflated 40%)
  adding: usr/query_1/query_one20.sql (deflated 40%)
  adding: usr/query_1/query_one5.sql (deflated 40%)
  adding: usr/query_1/query_one43.sql (deflated 40%)
  adding: usr/query_1/query_one31.sql (deflated 39%)
  adding: usr/query_1/query_one45.sql (deflated 39%)
  adding: usr/query_1/query_one28.sql (deflated 40%)
  adding: usr/query_1/query_one47.sql (deflated 40%)
  adding: usr/query_1/query_one1.sql (deflated 39%)
  adding: usr/query_1/query_one21.sql (deflated 39%)
  adding: usr/query_1/query_one8.sql (deflated 40%)
  adding: usr/query_1/query_one42.sql (deflated 39%)
  adding: usr/query_1/query_one13.sql (deflated 39%)
  adding: usr/query_1/query_one19.sql (deflated 40%)
  adding: usr/query_1/query_one10.sql (deflated 40%)
  adding: usr/query_1/query_one24.sql (deflated 39%)
  adding: usr/query_1/query_one18.sql (deflated 39%)
  adding: usr/query_1/query_one35.sql (deflated 40%)
  adding: usr/query_1/query_one23.sql (deflated 40%)
  adding: usr/query_1/query_one6.sql (deflated 40%)
  adding: usr/query_1/query_one32.sql (deflated 40%)
  adding: usr/query_1/query_one27.sql (deflated 40%)
  adding: usr/query_1/query_one4.sql (deflated 39%)
  adding: usr/query_1/query_one44.sql (deflated 39%)
  adding: usr/query_1/query_one48.sql (deflated 39%)
  adding: usr/query_1/query_one50.sql (deflated 39%)
  adding: usr/query_1/query_one17.sql (deflated 39%)
  adding: usr/query_1/query_one12.sql (deflated 40%)
  adding: usr/query_1/query_one11.sql (deflated 40%)
  adding: usr/query_1/query_one38.sql (deflated 39%)
  adding: usr/query_1/query_one30.sql (deflated 40%)
  adding: usr/query_1/query_one36.sql (deflated 39%)
  adding: usr/query_1/query_one40.sql (deflated 39%)
  adding: usr/query_1/query_one33.sql (deflated 40%)
  adding: usr/query_1/query_one37.sql (deflated 39%)
  adding: usr/query_1/query_one29.sql (deflated 39%)
  adding: usr/query_1/query_one15.sql (deflated 39%)
  adding: usr/query_1/query_one41.sql (deflated 40%)
  adding: usr/query_1/query_one39.sql (deflated 40%)
  adding: usr/query_1/query_one46.sql (deflated 39%)
  adding: usr/query_1/query_one25.sql (deflated 40%)
  adding: usr/query_1/query_one7.sql (deflated 40%)
  adding: usr/query_2/ (stored 0%)
  adding: usr/query_2/query_two25.sql (deflated 30%)
  adding: usr/query_2/query_two30.sql (deflated 31%)
  adding: usr/query_2/query_two5.sql (deflated 30%)
  adding: usr/query_2/query_two22.sql (deflated 30%)
  adding: usr/query_2/query_two1.sql (deflated 29%)
  adding: usr/query_2/query_two29.sql (deflated 30%)
  adding: usr/query_2/query_two37.sql (deflated 32%)
  adding: usr/query_2/query_two34.sql (deflated 30%)
  adding: usr/query_2/query_two3.sql (deflated 31%)
  adding: usr/query_2/query_two2.sql (deflated 30%)
  adding: usr/query_2/query_two31.sql (deflated 30%)
  adding: usr/query_2/query_two36.sql (deflated 30%)
  adding: usr/query_2/query_two20.sql (deflated 30%)
  adding: usr/query_2/query_two6.sql (deflated 30%)
  adding: usr/query_2/query_two7.sql (deflated 32%)
  adding: usr/query_2/query_two44.sql (deflated 29%)
  adding: usr/query_2/query_two10.sql (deflated 29%)
  adding: usr/query_2/query_two11.sql (deflated 30%)
  adding: usr/query_2/query_two49.sql (deflated 31%)
  adding: usr/query_2/query_two24.sql (deflated 29%)
  adding: usr/query_2/query_two45.sql (deflated 30%)
  adding: usr/query_2/query_two8.sql (deflated 29%)
  adding: usr/query_2/query_two48.sql (deflated 31%)
  adding: usr/query_2/query_two12.sql (deflated 29%)
  adding: usr/query_2/query_two35.sql (deflated 29%)
  adding: usr/query_2/query_two46.sql (deflated 30%)
  adding: usr/query_2/query_two32.sql (deflated 29%)
  adding: usr/query_2/query_two27.sql (deflated 30%)
  adding: usr/query_2/query_two15.sql (deflated 31%)
  adding: usr/query_2/query_two42.sql (deflated 28%)
  adding: usr/query_2/query_two21.sql (deflated 30%)
  adding: usr/query_2/query_two41.sql (deflated 30%)
  adding: usr/query_2/query_two33.sql (deflated 30%)
  adding: usr/query_2/query_two14.sql (deflated 29%)
  adding: usr/query_2/query_two4.sql (deflated 30%)
  adding: usr/query_2/query_two18.sql (deflated 31%)
  adding: usr/query_2/query_two13.sql (deflated 30%)
  adding: usr/query_2/query_two23.sql (deflated 29%)
  adding: usr/query_2/query_two19.sql (deflated 29%)
  adding: usr/query_2/query_two28.sql (deflated 30%)
  adding: usr/query_2/query_two9.sql (deflated 30%)
  adding: usr/query_2/query_two47.sql (deflated 30%)
  adding: usr/query_2/query_two39.sql (deflated 30%)
  adding: usr/query_2/query_two43.sql (deflated 30%)
  adding: usr/query_2/query_two26.sql (deflated 30%)
  adding: usr/query_2/query_two38.sql (deflated 29%)
  adding: usr/query_2/query_two17.sql (deflated 33%)
  adding: usr/query_2/query_two16.sql (deflated 30%)
  adding: usr/query_2/query_two50.sql (deflated 30%)
  adding: usr/query_2/query_two40.sql (deflated 29%)
  adding: usr/query_3/ (stored 0%)
  adding: usr/query_3/query_thr12.sql (deflated 31%)
  adding: usr/query_3/query_thr35.sql (deflated 33%)
  adding: usr/query_3/query_thr15.sql (deflated 33%)
  adding: usr/query_3/query_thr37.sql (deflated 32%)
  adding: usr/query_3/query_thr43.sql (deflated 31%)
  adding: usr/query_3/query_thr30.sql (deflated 32%)
  adding: usr/query_3/query_thr17.sql (deflated 32%)
  adding: usr/query_3/query_thr42.sql (deflated 34%)
  adding: usr/query_3/query_thr1.sql (deflated 33%)
  adding: usr/query_3/query_thr48.sql (deflated 33%)
  adding: usr/query_3/query_thr8.sql (deflated 33%)
  adding: usr/query_3/query_thr50.sql (deflated 33%)
  adding: usr/query_3/query_thr7.sql (deflated 32%)
  adding: usr/query_3/query_thr9.sql (deflated 33%)
  adding: usr/query_3/query_thr13.sql (deflated 33%)
  adding: usr/query_3/query_thr26.sql (deflated 33%)
  adding: usr/query_3/query_thr45.sql (deflated 34%)
  adding: usr/query_3/query_thr2.sql (deflated 33%)
  adding: usr/query_3/query_thr24.sql (deflated 33%)
  adding: usr/query_3/query_thr31.sql (deflated 31%)
  adding: usr/query_3/query_thr38.sql (deflated 33%)
  adding: usr/query_3/query_thr49.sql (deflated 34%)
  adding: usr/query_3/query_thr36.sql (deflated 33%)
  adding: usr/query_3/query_thr47.sql (deflated 33%)
  adding: usr/query_3/query_thr39.sql (deflated 32%)
  adding: usr/query_3/query_thr10.sql (deflated 33%)
  adding: usr/query_3/query_thr4.sql (deflated 33%)
  adding: usr/query_3/query_thr6.sql (deflated 32%)
  adding: usr/query_3/query_thr34.sql (deflated 32%)
  adding: usr/query_3/query_thr5.sql (deflated 32%)
  adding: usr/query_3/query_thr3.sql (deflated 32%)
  adding: usr/query_3/query_thr29.sql (deflated 33%)
  adding: usr/query_3/query_thr14.sql (deflated 33%)
  adding: usr/query_3/query_thr16.sql (deflated 33%)
  adding: usr/query_3/query_thr46.sql (deflated 33%)
  adding: usr/query_3/query_thr20.sql (deflated 33%)
  adding: usr/query_3/query_thr27.sql (deflated 32%)
  adding: usr/query_3/query_thr11.sql (deflated 31%)
  adding: usr/query_3/query_thr25.sql (deflated 31%)
  adding: usr/query_3/query_thr28.sql (deflated 32%)
  adding: usr/query_3/query_thr19.sql (deflated 32%)
  adding: usr/query_3/query_thr32.sql (deflated 33%)
  adding: usr/query_3/query_thr44.sql (deflated 32%)
  adding: usr/query_3/query_thr21.sql (deflated 33%)
  adding: usr/query_3/query_thr33.sql (deflated 33%)
  adding: usr/query_3/query_thr41.sql (deflated 33%)
  adding: usr/query_3/query_thr40.sql (deflated 31%)
  adding: usr/query_3/query_thr23.sql (deflated 33%)
  adding: usr/query_3/query_thr18.sql (deflated 32%)
  adding: usr/query_3/query_thr22.sql (deflated 33%)